name: Continuous Integration Pipeline
on:
  push:
    branches:
    - main
    tags:
    - "*"
  pull_request:
    branches:
    - main
    paths-ignore:
    - "**/*.md"
    - docs/**
    - examples/**

env:
  GORELEASER_VERSION: v2.13.0
  GOLANGCI_LINT_VERSION: v2.6.2
jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - name: Setup Golang
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
        cache: false
    - name: Install golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
        install-only: true
    - name: Run Linter
      run: make lint

  test:
    name: Testing on ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - name: Setup Golang
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Run Test Coverage
      run: make ci

  conformance-test:
    name: Testing against Kubernetes ${{ matrix.kind_node_image }}
    runs-on: ubuntu-latest
    needs:
    - test
    strategy:
      matrix:
        kind_node_image:
        - kindest/node:v1.34.0@sha256:7416a61b42b1662ca6ca89f02028ac133a309a2a30ba309614e8ec94d976dc5a
        - kindest/node:v1.33.4@sha256:25a6018e48dfcaee478f4a59af81157a437f15e6e140bf103f85a2e7cd0cbbf2
        - kindest/node:v1.32.8@sha256:abd489f042d2b644e2d033f5c2d900bc707798d075e8186cb65e3f1367a9d5a1
        - kindest/node:v1.31.12@sha256:0f5cc49c5e73c0c2bb6e2df56e7df189240d83cf94edfa30946482eb08ec57d2
        - kindest/node:v1.30.13@sha256:397209b3d947d154f6641f2d0ce8d473732bd91c87d9575ade99049aa33cd648
    env:
      KIND_NODE_IMAGE: ${{matrix.kind_node_image}}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - name: Setup Golang
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Setup Kind
      uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
      with:
        version: v0.30.0
        install_only: true
    - name: Run Conformance Tests
      run: make test-conformance

  build:
    name: Build for Supported Architectures
    runs-on: ubuntu-latest
    needs:
    - lint
    - conformance-test
    if: github.event_name != 'push'
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - name: Setup Golang
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Setup Goreleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        version: ${{ env.GORELEASER_VERSION }}
        install-only: true
    - name: Run Build Multiarchitecture
      run: make build-multiarch

  publish-release:
    runs-on: ubuntu-latest
    needs:
    - lint
    - conformance-test
    if: github.event_name == 'push'
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
        fetch-depth: 0
    - name: Setup Golang
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Setup Goreleaser
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
      with:
        version: ${{ env.GORELEASER_VERSION }}
        install-only: true
    - name: Set Snapshot Release Environment
      if: github.ref_type == 'branch'
      run: |
        echo "SNAPSHOT_RELEASE=1" >> $GITHUB_ENV
    - name: Run Goreleaser
      run: make ci-release SNAPSHOT_RELEASE=${SNAPSHOT_RELEASE}
      env:
        GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
    - name: Upload Binaries Artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: artifacts
        path: bin/

  publish-docker:
    runs-on: ubuntu-latest
    needs:
    - publish-release
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - name: Download Binaries
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifacts
        path: bin/
    - name: Restore Executable Permissions
      run: |
        find ./bin/{darwin,linux} -type f -exec chmod +x {} \;
    - name: Docker Login to GitHub Repository
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Docker Login to DockerHub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.BOT_DOCKER_USERNAME }}
        password: ${{ secrets.BOT_DOCKER_TOKEN }}
    - name: Setup QEMU
      run: make docker-setup-multiarch
    - name: Setup Buildx Context
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
    - name: Build Latest Image
      run: make ci-docker BUILDX_CONTEXT=${{ steps.buildx.outputs.name }}
